# **Exercise session 3: Convolutional neural network (CNN) and support vector machine (SVM) to detect $CH_4$ emissions from satellite data**

## Exercise 3.3 Batch jobs and server-side computations using OpenEO (1 pt)

So far you have been using openEO for synchronous execution of your requests: you submitted a request and the result came as a direct response to your request. This is not feasible for heavier work. Instead, one should submit the requests as batch jobs. Familiarise yourself with the Batch-job-combine-tasks.ipynb file.

Furthermore, instead of downloading large amounts of raw data, one can process the data directly on server side. You can check all available processes by running 'connection.list_processes()'. For more details, see the [EO Cookbook](https://openeo.org/documentation/1.0/cookbook/#temporal-mean-reduce-dimension). Note that they give two alternatives on how to compute the temporal mean and we recommend to use the 'reduce_dimension' function.

Task: fix an area of interest and a time period and load the min, max, mean and standard deviation of CH4. Perform this task as a batch job using server-side processes. You should save the output in the JSON format. Note that the output is computed per pixel.

In [1]:
import pathlib
import rasterio
import matplotlib.pyplot as plt
import openeo
import pandas as pd
import xarray as xr
import os
import joblib
import json

In [2]:
connection = openeo.connect(url="openeo.dataspace.copernicus.eu")
connection.authenticate_oidc_device()

In [3]:
# print(connection.list_collections())
for collection in connection.list_collections():
    print(collection['id'])

SENTINEL3_OLCI_L1B
SENTINEL3_SLSTR
SENTINEL_5P_L2
SENTINEL2_L1C
SENTINEL2_L2A
SENTINEL1_GRD
COPERNICUS_30
LANDSAT8_L2

In [4]:
# Load the coordinates and labels of the CH4 plumes coming from gas infrastructure, 
# oil infrastruture and coal mines from [all TROPOMI detected plumes for 2021. (Schuit et al. 2023)]
# (https://zenodo.org/records/8087134). 
download_path = "/coursedata/users/nguyenb5"

CH4_plumes = pd.read_csv(f"{download_path}/assignment3_Task4/Schuit_etal2023_TROPOMI_all_plume_detections_2021.csv")

# Filter out rows where estimated_source_type is "unclassified"
CH4_plumes = CH4_plumes[CH4_plumes['estimated_source_type'] != 'Unclassified']

# For each plume, compute the spatial extent of an area 1 deg x 1 deg around the plume
CH4_plumes['west'] = CH4_plumes['lon'] - 0.5
CH4_plumes['east'] = CH4_plumes['lon'] + 0.5
CH4_plumes['south'] = CH4_plumes['lat'] - 0.5
CH4_plumes['north'] = CH4_plumes['lat'] + 0.5

print("Number of data points:", len(CH4_plumes))

CH4_plumes.head()

Number of data points: 2944

,date,time_UTC,lat,lon,source_rate_t/h,uncertainty_t/h,estimated_source_type,west,east,south,north
0,20210101,06:00:45,36.75,109.76,32,16,Coal,109.26,110.26,36.25,37.25
1,20210101,06:00:55,37.53,110.75,39,22,Coal,110.25,111.25,37.03,38.03
2,20210101,07:37:49,20.89,85.22,4,2,Coal,84.72,85.72,20.39,21.39
3,20210101,07:38:15,23.30,90.79,51,15,Landfill/Urban,90.29,91.29,22.80,23.80
4,20210101,07:38:27,23.56,86.44,25,12,Coal,85.94,86.94,23.06,24.06

**1. Define the datacube**

In [5]:
period=("2021-01-01", "2021-01-31")

s5_CH4 = connection.load_collection(
    "SENTINEL_5P_L2",
    #spatial_extent=optional_bounding_box_for_all_plume_rectangles,
    temporal_extent = period,
    bands=["CH4"] #as before, server-side computations for S5 accept only one band at a time
)

s5_CO = connection.load_collection(
    "SENTINEL_5P_L2",
    #spatial_extent=optional_bounding_box_for_all_plume_rectangles,
    temporal_extent = period,
    bands=["CO"] #as before, server-side computations for S5 accept only one band at a time
)

s5_SO2 = connection.load_collection(
    "SENTINEL_5P_L2",
    #spatial_extent=optional_bounding_box_for_all_plume_rectangles,
    temporal_extent = period,
    bands=["SO2"] #as before, server-side computations for S5 accept only one band at a time
)


s5_NO2 = connection.load_collection(
    "SENTINEL_5P_L2",
    #spatial_extent=optional_bounding_box_for_all_plume_rectangles,
    temporal_extent = period,
    bands=["NO2"] #as before, server-side computations for S5 accept only one band at a time
)

s3_all_bands = connection.load_collection(
    "SENTINEL3_SLSTR",
    #spatial_extent=optional_bounding_box_for_all_plume_rectangles,
    temporal_extent = period,
    bands=["S5", "S6"] #as before, server-side computations for S3 accept only several bands at a time
)

**3. Add reducer and initiate the job**

### Divide and conquer between 5 accounts
### Each account can run 2 concurrent jobs

In [6]:
connection.list_jobs()
# You can manually edit and delete jobs by this link 
# https://editor.openeo.org/?server=openeo.dataspace.copernicus.eu

[{'costs': 216.0,
  'created': '2024-02-13T13:35:26Z',
  'id': 'j-2402139f772a422486eb37089ba1e71a',
  'status': 'finished',
  'title': 'aggregation',
  'updated': '2024-02-13T14:02:24Z'},
 {'costs': 161.0,
  'created': '2024-02-13T13:35:14Z',
  'id': 'j-240213618d3f4eea9a2712e132ae91ad',
  'status': 'finished',
  'title': 'aggregation',
  'updated': '2024-02-13T14:00:01Z'},
 {'costs': 39.0,
  'created': '2024-02-13T13:24:28Z',
  'id': 'j-240213406436400ab2ef3f7536661a96',
  'status': 'finished',
  'title': 'aggregation',
  'updated': '2024-02-13T13:33:15Z'},
 {'costs': 35.0,
  'created': '2024-02-13T13:24:44Z',
  'id': 'j-2402130921fc44acbf4f1610f89769ab',
  'status': 'finished',
  'title': 'aggregation',
  'updated': '2024-02-13T13:33:19Z'}]

#### Account 5: Cube s3_all_bands

In [ ]:
datacube_name = "s3_all_bands"
datacube = s3_all_bands
plume_type = "gas"

print(f"Starting aggregating {datacube_name}_{plume_type}.json")

with open(f"{download_path}/assignment3_Task4/{plume_type}_geojson.json", 'r') as file:
    plumetype_geojson = json.load(file)

aggregation = datacube.aggregate_spatial(
    geometries=plumetype_geojson,
    reducer="mean",
)
aggregation = aggregation.save_result(format="JSON")
job=aggregation.create_job(title="aggregation")
job.start_and_wait()
results = job.get_results()
results.download_file(f"{download_path}/assignment3_Task4/{datacube_name}_{plume_type}.json")
print(f"Finish aggregating {datacube_name}_{plume_type}.json")

In [ ]:
datacube_name = "s3_all_bands"
datacube = s3_all_bands
plume_type = "coal"

print(f"Starting aggregating {datacube_name}_{plume_type}.json")

with open(f"{download_path}/assignment3_Task4/{plume_type}_geojson.json", 'r') as file:
    plumetype_geojson = json.load(file)
    
aggregation = datacube.aggregate_spatial(
    geometries=plumetype_geojson,
    reducer="mean",
)
aggregation = aggregation.save_result(format="JSON")
job=aggregation.create_job(title="aggregation")
job.start_and_wait()
results = job.get_results()
results.download_file(f"{download_path}/assignment3_Task4/{datacube_name}_{plume_type}.json")
print(f"Finish aggregating {datacube_name}_{plume_type}.json")

In [7]:
datacube_name = "s3_all_bands"
datacube = s3_all_bands
plume_type = "oil"

print(f"Starting aggregating {datacube_name}_{plume_type}.json")

with open(f"{download_path}/assignment3_Task4/{plume_type}_geojson.json", 'r') as file:
    plumetype_geojson = json.load(file)

print(f"Number of area of interests for {plume_type}_geojson.json: {len(plumetype_geojson['features'])}")

aggregation = datacube.aggregate_spatial(
    geometries=plumetype_geojson,
    reducer="mean",
)
aggregation = aggregation.save_result(format="JSON")
job=aggregation.create_job(title="aggregation")
job.start_and_wait()
results = job.get_results()
results.download_file(f"{download_path}/assignment3_Task4/{datacube_name}_{plume_type}.json")
print(f"Finish aggregating {datacube_name}_{plume_type}.json")

Starting aggregating s3_all_bands_oil.json
Number of area of interests for oil_geojson.json: 200
0:00:00 Job 'j-2402138ea4b5462c9ee02d796fef8824': send 'start'
0:00:16 Job 'j-2402138ea4b5462c9ee02d796fef8824': created (progress N/A)
0:00:21 Job 'j-2402138ea4b5462c9ee02d796fef8824': created (progress N/A)
0:00:28 Job 'j-2402138ea4b5462c9ee02d796fef8824': created (progress N/A)
0:00:37 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:00:51 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:01:04 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:01:20 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:01:39 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:02:06 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:02:36 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:03:14 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:04:01 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:05:02 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:06:04 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:07:32 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:08:33 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:09:34 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:10:35 Job 'j-2402138ea4b5462c9ee02d796fef8824': running (progress N/A)
0:11:40 Job 'j-2402138ea4b5462c9ee02d796fef8824': finished (progress N/A)
Finish aggregating s3_all_bands_oil.json